$fox_red_primary: #d2515e;
$fox_red_secondary: #c4414f;
$fox_red_last: #b03946;

$fox_purple_primary: #84668c;
$fox_purple_secondary: #77597f;
$fox_purple_last: #694c71;

$fox_grey: #585858;

$error_red: #d2515e;